{% load crispy_forms_tags %}

{% include "quizABL1/header.html" %}
<br>
<br>
<br>
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/litera/bootstrap.min.css">
    <style>
        section {
            margin: 20px;
            padding: 20px;
            
            background-color:white;
            border-radius: 8px;
            box-shadow: black;
        }
    </style>
</head>
<div class="container" style="width:500px;">
    <section>
    <h2>Add Department</h2>
    <form method="post" >
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-danger">Submit</button>
        <a href="{% url 'deptlist' %}" class="btn btn-danger">edit</a>
        
    </form>
</section>
</div>

{% include "quizABL1/footer.html" %}