<div class="container">
    <section class="mt-5">
        <h5 class="text-center">Quiz Preview</h5>
        <h6 class="text-center">Quiz Subject: {{ quiz_session.subject }}</h6>

        <div class="squared-section"> <!-- Create a squared section -->
            
            <div class="row justify-content-center">
                
                {% for question, selected_option in selected_options.items %}
                <div class="col-md-2"> <!-- Decreased width of the column -->
                    <div class="card mb-3 {% if selected_option %}bg-success{% else %}bg-danger{% endif %}">
                        <div class="card-body p-2"> <!-- Decreased padding -->
                            <h5 class="card-title text-center mb-0" style="font-size: 14px;">{{ forloop.counter }}</h5> <!-- Decreased font size -->
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>

    </section>
</div>