
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        section {
            margin: 20px;
            padding: 20px;
            
            background-color:white;
            border-radius: 8px;
            box-shadow: black;
        }
    </style>
    <title>Form</title>
</head>
<body>
    <h2>Model Form</h2>
    <form method="post" action="">
        {% csrf_token %}
        
        {{ form }}
        <!--  -->
        <!-- <label for="id_name">Name:</label>
        {{ form.name }}
        {{ form.name.errors }}
        
        <br>
        
        
        <label for="id_email">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
        
        <br> -->

        <button type="submit">Submit</button>
    </form>
</body>
</html>

